/* MAIN */

body {
    background: lightblue;
}

/* .root {
    display: flex;
    flex-direction: row;
} */

/* SIDE BAR */

.side-bar {
    border: solid black 0.1rem;
    width: 20%;
    height: 100vw;
}

.header__logo {
    max-width: 10rem;
}

.header__logo img {
    width: 100%;
    max-height: 9.375rem;
}

.button-div {
    display: flex;
    justify-content: center;
}

.left-bar__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side-bar__button {
    border: solid rgb(52, 241, 219) 1rem;
    border-radius: 10px;
    padding: 10px 10px;
    background: rgb(61, 135, 225);
    font-size: 1.5rem;
    box-shadow: 0px 8px 16px 0px;
    font-family: "Rubik Mono One", sans-serif;
    margin: 2rem;
}

.active {
    border-width: 0.25rem;
}

/* HEADER */

.header {
    border: solid black 0.1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}
.header__headline p {
    align-items: center;
}

.header__headline {
    margin: 1.5rem 0.5rem;
    font-size: 1.5rem;
    font-family: "Rubik Mono One", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* CONTAINER */

.container {
    border: solid black 0.1rem;
    display: block;
    flex-direction: column;
    /* height: 1000px; */
    width: 80%;
}

.q-page {
    display: flex;
    flex-direction: column;
}

/* GET-METHOD-SECTION */

.get-method-button-div {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.get-method-button {
    border: solid rgb(52, 241, 219) 1rem;
    border-radius: 10px;
    padding: 10px 10px;
    background: rgb(61, 135, 225);
    font-size: 1 rem;
    box-shadow: 0px 8px 16px 0px;
    font-family: "Rubik Mono One", sans-serif;
}

.hidden {
    display: none !important;
}

/* QUESTION SECTION */

.question-card-div {
    display: flex;
    justify-content: center;
}

.question-card {
    border: solid rgb(52, 241, 219) 0.2rem;
    border-radius: 10px;
    padding: 10px 10px;
    background: rgb(61, 135, 225);
    font-size: 1 rem;
    box-shadow: 0px 8px 16px 0px;
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 24rem;
}

.question-card > p {
    display: inline;
    text-align: center;
}

.question-card-gif-div {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.question-card-gif-div > img {
    max-width: 40%;
}

.answer-button {
    border: solid rgb(52, 241, 219) 0.25rem;
    border-radius: 10px;
    padding: 10px 10px;
    background: rgb(61, 135, 225);
    font-size: 1 rem;
    box-shadow: 0px 8px 16px 0px;
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.answers-buttons {
    display: flex;
    justify-content: space-around;
}

.answer-button__go {
    display: none;
}

.answer-wrapper {
    padding: 3rem;
}

/* TIMER SECTION */

.timer-section {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background: rgb(61, 135, 225);
    font-size: 0.75rem;
    box-shadow: 0px 8px 16px 0px;
    font-family: "Rubik Mono One", sans-serif;
    border: solid rgb(52, 241, 219) 0.25rem;
    border-radius: 10px;
    margin-top: 5rem;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding: 0.25rem;
    flex-wrap: wrap;
}

.timer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(52, 241, 219) 0.2rem;
    border-radius: 10px;
    padding: 0.5rem;
}

.timer-item > div {
    font-size: 3rem;
}

.timer__p-description {
    font-size: calc(1rem + 1vw);
    text-align: center;
}

.timer-item__description {
    flex-basis: 20%;
}

.timer-description > p {
    margin: 0.5rem;
}

.answer__text {
    font-size: 1rem;
}
